<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/main/style.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div>
			<a class="navbar-brand" href="#"> <img class="logo"
				src="/images/logo.png" alt="Logo marca" width="140" height="60">
			</a>
		</div>
	</nav>


	<div class="card">
		<div class="card-header">Novo título</div>
		<div class="card-body">
			<form action="/" method="post" class="d-grid gap-3">
				<div class="form-floating col-sm-6">					
						<input name="descricao" type="text" class="form-control" id="descricao" placeholder="Descricao" /> 
						<label for="descricao">Descricao</label>
				</div>
				
				<div class="form-floating col-sm-4">	
						<input name="data-lancamento" type="date" placeholder="DD/MM/AA" class="form-control" id="data-lancamento" />
						<label for="data-lancamento"  >Lançamento</label>
				</div>
				
				<div class="form-floating col-sm-4">
					<input name="valor" type="number" step="0.10" min="0" class="form-control" id="valor" placeholder="valor" />
					<label for="valor">Valor</label>
				</div>
				
				<div class="form-floating col-sm-4">
					<select name="situacao" id="situacao" class="form-control">
						<option>Selecione</option>
						<option>Pendente</option>
						<option>Finalizado</option>
					</select>
				</div>
				
				<div class="form-floating col-sm-6">
					<button type="submit" id="btn-salvar" class="btn btn-primary">Salvar</button>
				</div>
				
			</form>
		</div>
	</div>


	<script src="/js/bootstrap.min.js"></script>
</body>
</html>