<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Títulos</title>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/main/style.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div>
			<a class="navbar-brand" href="#"> <img class="logo"
				src="/images/logo.png" alt="Logo marca" width="140" height="60">
			</a>
		</div>
	</nav>

	<div class="container mt-5">
		<div th:if="${!#strings.isEmpty(mensagem)}"
			class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Sucesso! </strong><span th:text="${mensagem}">mensagem</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		<div class="card">
			<div class="card-header">Novo título</div>
			<div class="card-body">
				<form action="/titulo/salvar" method="post">
					<div class="row mb-3 form-group">
						<label class="col-12 col-sm-2 form-label" for="descricao">Descricao</label>
						<div class="co-12 col-sm-6">
							<input name="descricao" type="text" class="form-control"
								id="descricao" placeholder="Descreva o título" />
						</div>
					</div>

					<div class="row mb-3 form-group">
						<label class="col-12 col-sm-2 form-label" for="dataVencimento">Data
							vencimento</label>
						<div class="col-12 col-sm-4">
							<input name="dataVencimento" type="date" class="form-control"
								id="dataVencimento" />
						</div>
					</div>

					<div class="row mb-3 form-group">
						<label class="col-12 col-sm-2 form-label" for="valor">Valor</label>
						<div class="col-12 col-sm-4">
							<input name="valor" type="number" step="0.10" min="0"
								class="form-control" id="valor" />
						</div>
					</div>

					<div class="row mb-3 form-group">
						<label class="col-12 col-sm-2 form-label" for="situacaoTitulo">Situação</label>
						<div class="col-12 col-sm-4">
							<select name="situacaoTitulo" id="situacaoTitulo" class="form-control">
								<option th:each="status : ${statusAll}" th:value="${status}"
								th:text="${status.GetDescricao()}">option</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="offset-sm-2 col-12 col-sm-6 ">
							<button type="submit" id="btn-salvar" class="btn btn-primary">Salvar</button>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer text-muted">
				<a class="link-success text-decoration-none"
					href="https://curriculo-dev.tsswebapps.com/"> TSS Web Apps -
					
				</a>
				Desenvolido por  
				<a class="link-success text-decoration-none"
					href="https://www.linkedin.com/in/thiago-sant-anna-800a9a33/">
					Thiago Santanna da silva 
				</a>
			</div>
		</div>
	</div>

	<script src="/js/bootstrap.min.js"></script>
</body>
</html>