<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pesquisa de títulos</title>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/main/style.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div>
			<a class="navbar-brand" href="#"> <img class="logo"
				src="/images/logo.png" alt="Logo marca" width="140" height="60">
			</a>
		</div>
	</nav>

	<div class="container mt-5">
		<div th:if="${!#strings.isEmpty(mensagem)}"
			class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Sucesso! </strong><span th:text="${mensagem}">mensagem</span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"
				aria-label="Close"></button>
		</div>
		<div class="card">
			<div class="card-header">Pesquisa</div>
			<div class="card-body">
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th>Descrição</th>
							<th class="text-center col-md-2">Data de vencimento</th>
							<th class="text-right col-md-2">Valor</th>
							<th class="text-center col-md-2">Status</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center col-md-1">1</td>
							<td>Col 2</td>
							<td class="text-center col-md-2">Row 1</td>
							<td class="text-right col-md-2">Col 2</td>
							<td class="text-center col-md-2">Col 1</td>
							<td class="col-md-1"></td>
						</tr>
					</tbody>
				</table>


			</div>
		</div>
	</div>

	<script src="/js/bootstrap.min.js"></script>
</body>
</html>